<ul class="sidebar nav flex-column pt-4">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-baseline" href="">
            <i class="bi bi-person-bounding-box me-3"></i> 
            Sobreviventes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-baseline" href="">
            <i class="bi bi-currency-exchange me-3"></i>
            Comercialização
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-baseline" href="">
            <i class="bi bi-person-x-fill me-3"></i>
            Infecção
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex align-items-baseline" href="">
            <i class="bi bi-clipboard-data-fill me-3"></i>
            Relatórios
        </a>
    </li>
</ul>