:host > ul {
    width: 15rem;
    transition: width 0.5s;
}

:host.close > ul {
    overflow: hidden;
    width: 3rem;
    transition: width 0.5s;
}

.sidebar {
    height: 100%;
    background: var(--bs-black);
}

.nav-link {
    color: white;
}
.nav-link.active {
    background: rgb(241, 164, 20);
    color: black;
}
.nav-link:hover {
    background: rgb(241, 164, 20);
    color: black;
}

.bi {
    font-size: 1.2rem;
}